# Ignore Terraform local files
.terraform/

# Ignore editor and OS files
.vscode/
*.swp
*.swo
*.bak# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.tfvars
.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
